<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../content/styles/site.css">
    <title>Gift-Adventure</title>
</head>
<body>
    <header>
        <nav>
            <a href="">
                <span class="logo">Gift Adventure</span>
            </a>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/adventures/add-Location">Add Location</a></li>
                <li><a href="/adventures/add-cat">Add Adventure</a></li>
            </ul>
        </nav>
        <form action="/search">
            <input type="text">
            <button type="button">Search</button>
        </form>
    </header>

    <main>
        <section class="adventures">
            <ul>
                <li class="adventure-card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Cappadocia_balloon_trip%2C_Ortahisar_Castle_%2811893715185%29.jpg/330px-Cappadocia_balloon_trip%2C_Ortahisar_Castle_%2811893715185%29.jpg" alt="Cappadocia">
                    <h3>Cappadocia</h3>
                    <p><span>Location: </span>Turkay</p>
                    <p><span>Description: </span>Cappadocia is a historical region in Central Anatolia region, Turkey.</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="" class="button-card">Edit</a></li>
                        <li class="btn delete"><a href="" class="button-card">Delete</a></li>
                    </ul>
                </li>
                <li class="adventure-card">
                    <img src="https://plus.unsplash.com/premium_photo-1661964149725-fbf14eabd38c?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2FudG9yaW5pfGVufDB8fDB8fHww" alt="Santorini">
                    <h3>Santorini</h3>
                    <p><span>Location: </span>Grece</p>
                    <p><span>Description: </span>Santorini is a Greek island in the southern Aegean Sea, about 200 km (120 mi) southeast from the mainland.</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="" class="button-card">Edit</a></li>
                        <li class="btn delete"><a href="" class="button-card">Delete</a></li>
                    </ul>
                </li>
                <li class="adventure-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1dGCCjJXeoPHNDbJkYe_HoGt9c5RF4VZcdw&s" alt="Easter Island">
                    <h3>Easter Island</h3>
                    <p><span>Location: </span>Chile</p>
                    <p><span>Description: </span>Easter Island is an island and special territory of Chile in the southeastern Pacific Ocean.</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="" class="button-card">Edit</a></li>
                        <li class="btn delete"><a href="" class="button-card">Delete</a></li>
                    </ul>
                </li>
                <li class="adventure-card">
                    <img src="https://images.unsplash.com/photo-1553913861-c0fddf2619ee?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fpcm98ZW58MHx8MHx8fDA%3D" alt="Cairo">
                    <h3>Cairo</h3>
                    <p><span>Location: </span>Egipt</p>
                    <p><span>Description: </span>Cairo is the capital and largest city of Egypt and the Cairo Governorate. It is home to more than 9.8 million people. </p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="" class="button-card">Edit</a></li>
                        <li class="btn delete"><a href="" class="button-card">Delete</a></li>
                    </ul>
                </li>
                <li class="adventure-card">
                    <img src="https://media.istockphoto.com/id/1305789626/photo/spain-square-in-seville-spain-a-great-example-of-iberian-renaissance-architecture-during-a.jpg?s=612x612&w=0&k=20&c=I1W66xmp38MqZZcKxdKJJ_kohhFfrHBUybh0vVl3OYE=" alt="Seville">
                    <h3>Seville</h3>
                    <p><span>Location: </span>Spain</p>
                    <p><span>Description: </span>Seville is the capital and largest city of the Spanish autonomous community of Andalusia and the province of Seville.</p>
                    <ul class="buttons">
                        <li class="btn edit"><a href="" class="button-card">Edit</a></li>
                        <li class="btn delete"><a href="" class="button-card">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>

</body>
</html>